<div class="accordion-item">
  <div class="accordion-item__heading">
    <h4>{{ block.settings.heading }}</h4>
    <span class="__arrow-icon">
      <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.64689 5.01799C1.69334 4.97142 1.74852 4.93448 1.80926 4.90927C1.87001 4.88407 1.93513 4.87109 2.00089 4.87109C2.06666 4.87109 2.13178 4.88407 2.19253 4.90927C2.25327 4.93448 2.30845 4.97142 2.35489 5.01799L8.00089 10.665L13.6469 5.01799C13.6934 4.9715 13.7486 4.93462 13.8093 4.90946C13.87 4.8843 13.9352 4.87136 14.0009 4.87136C14.0666 4.87136 14.1317 4.8843 14.1925 4.90946C14.2532 4.93462 14.3084 4.9715 14.3549 5.01799C14.4014 5.06448 14.4383 5.11966 14.4634 5.1804C14.4886 5.24114 14.5015 5.30624 14.5015 5.37199C14.5015 5.43773 14.4886 5.50283 14.4634 5.56357C14.4383 5.62431 14.4014 5.6795 14.3549 5.72599L8.35489 11.726C8.30845 11.7726 8.25327 11.8095 8.19253 11.8347C8.13178 11.8599 8.06666 11.8729 8.00089 11.8729C7.93513 11.8729 7.87001 11.8599 7.80926 11.8347C7.74852 11.8095 7.69334 11.7726 7.64689 11.726L1.64689 5.72599C1.60033 5.67954 1.56339 5.62437 1.53818 5.56362C1.51297 5.50288 1.5 5.43775 1.5 5.37199C1.5 5.30622 1.51297 5.2411 1.53818 5.18035C1.56339 5.11961 1.60033 5.06443 1.64689 5.01799Z" fill="black"/>
      </svg>
    </span>
  </div>
  <div class="accordion-item__content">
    {{ block.settings.text }}
  </div>
</div>