<div class="heading-text-block heading-text-block__text-center">
  <h2 
    class="heading-text-block__text" 
    style="margin-bottom: {{ block.settings.space_bottom }}px;">{{ block.settings.heading_text }}</h2>
</div>