<div class="mobi-megamenu-widgets">
  <div class="megamenu-widget">
    <h4 class="megamenu-widget__title">About us</h4>
    <ul class="megamenu-widget__nav">
      <li>
        <a href="/pages/about-us">Our Story</a>
      </li>
      <li>
        <a href="/blogs/building-renovating-tips">FAQ’s</a>
      </li>
      <li>
        <a href="/blogs/building-renovating-tips">Blog</a>
      </li>
      <li>
        <a href="/pages/reviews">Customer Reviews</a>
      </li>
    </ul>
  </div>

  <div class="megamenu-widget">
    <h4 class="megamenu-widget__title">Contact us</h4>
    <ul class="megamenu-widget__nav">
      <li>
        <a href="/#">1300 123 122</a>
      </li>
      <li>
        <a href="/#">sales@buildmat.com.au</a>
      </li>
      <li>
        <a href="/#">18 Babbage Drv, Dandenong South VIC 3175 Australia</a>
      </li>
    </ul>
  </div>
</div>