<div class="specs-item">
  <div class="specs-item__inner">
    <div class="specs-item__label">{{ block.settings.label }}</div>
    <div class="specs-item__desc">{{ block.settings.description }}</div>
  </div>
</div>