<div class="thickness-progress-bar-preview">
  <div 
    class="thickness-progress-bar-preview__inner thickness-progress-bar-preview__do-aminate" 
    style="background: url({{ block.settings.background_image | image_url }}) center center / cover, #FFF">

    <div class="thickness-progress-bar-preview__item __st-1">
      <div class="thickness-progress-bar-preview__item-bar-wrap">
        <div class="thickness-progress-bar-preview__item-bar">
          <div class="thickness-progress-bar-preview__item-bar-inner" style="width: 100%" data-percent=100></div>
        </div>
        <div class="thickness-progress-bar-preview__item-bar-label">
          <span class="__accent-color __fsize-large __fbold">1.87x</span>
          <span class="__accent-color __fsize-medium __fbold">Thickness</span>
        </div>
      </div>
      <div class="thickness-progress-bar-preview__item-desc __fbold">
        1.5mm <span class="__accent-color">Buildmat Superior Quality</span>
      </div>
    </div>

    <div class="thickness-progress-bar-preview__item __st-2">
      <div class="thickness-progress-bar-preview__item-bar-wrap">
        <div class="thickness-progress-bar-preview__item-bar">
          <div class="thickness-progress-bar-preview__item-bar-inner" data-percent=0></div>
        </div>
        <div class="thickness-progress-bar-preview__item-bar-label">
          <span class="__fsize-medium __fbold">1.5x</span>
        </div>
      </div>
      <div class="thickness-progress-bar-preview__item-desc">
        <span class="__fbold">1.2mm</span> <span>What other brands consider high quality hand made</span>
      </div>
    </div>

    <div class="thickness-progress-bar-preview__item __st-3">
      <div class="thickness-progress-bar-preview__item-bar-wrap">
        <div class="thickness-progress-bar-preview__item-bar">
          <div class="thickness-progress-bar-preview__item-bar-inner" data-percent=0></div>
        </div>
        <div class="thickness-progress-bar-preview__item-bar-label">
          <span class="__fsize-medium __fbold">1.25x</span>
        </div>
      </div>
      <div class="thickness-progress-bar-preview__item-desc">
        <span class="__fbold">1.0mm</span> <span>High quality pressed or cheap handmade</span>
      </div>
    </div>

    <div class="thickness-progress-bar-preview__item __st-4">
      <div class="thickness-progress-bar-preview__item-bar-wrap">
        <div class="thickness-progress-bar-preview__item-bar">
          <div class="thickness-progress-bar-preview__item-bar-inner" data-percent=0></div>
        </div>
        <div class="thickness-progress-bar-preview__item-bar-label">
          <span class="__fsize-medium __fbold">1x</span>
        </div>
      </div>
      <div class="thickness-progress-bar-preview__item-desc">
        <span class="__fbold">0.8mm</span> <span>Pressed Sinks</span>
      </div>
    </div>

  </div>
</div>