{%- if section.settings.show_newsletter -%}
  <div class="footer__section footer__section--border">
    <div class="page-width">
      <div class="footer__newsletter">
        {%- if section.settings.newsletter_richtext != blank -%}
          <div class="footer__subscribe rte rte--nomargin">
            {{ section.settings.newsletter_richtext }}
          </div>
        {%- endif -%}

        {%- render 'newsletter-form', section_id: section.id, snippet_context: 'footer' -%}
      </div>
    </div>
  </div>
{%- endif -%}

{% comment %}
  Main navigation is copied here with JS for mobile users
{% endcomment %}
{%- if section.settings.footer_main_menu -%}
  <div id="FooterMobileNavWrap" class="footer__section footer__section--border medium-up--hide hide">
    <div id="FooterMobileNav" class="page-width"></div>
  </div>
{%- endif -%}

<footer class="site-footer" data-section-id="{{ section.id }}" data-section-type="footer-section">
  
  <div class="footer__section footer__section--top">
    <div class="page-width">
        <div class="footer__blocks logo_and_socials">
            {%- render 'footer-topinfo', section: section -%}
        </div>
    </div>
  </div>
  
  <div id="FooterMenus" class="footer__section footer__section--menus">
    <div class="page-width">
      <div class="footer__blocks">
        {%- for block in section.blocks -%}
          {%- if block.type == 'menu' or block.type == 'contact' -%}
          <div {{ block.shopify_attributes }} class="footer__block" data-type="{{ block.type }}">
            {%- liquid
              case block.type
                when 'menu'
                  render 'footer-menu', block: block
                when 'contact'
                  render 'footer-contact', block: block
              endcase
            -%}
          </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </div>

  <div class="footer__section footer__section--bottom">
    <div class="page-width">
      <div class="footer__blocks footer_bottom">
          {%- render 'footer-bottominfo', section: section -%}
      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "max_blocks": 12,
    "settings": [
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "show_newsletter",
        "label": "Show newsletter signup",
        "info": "Customers who subscribe will have their email address added to the 'accepts marketing' [customer list](/admin/customers?query=&accepts_marketing=1).",
        "default": true
      },
      {
        "type": "richtext",
        "id": "newsletter_richtext",
        "label": "Text",
        "default": "<p>Subscribe today to hear first about our sales</p>"
      },
      {
        "type": "header",
        "content": "Additional footer content"
      },
      {
        "type": "checkbox",
        "id": "footer_main_menu",
        "label": "Repeat main menu on mobile",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_copyright",
        "label": "Show copyright"
      },
      {
        "type": "text",
        "id": "copyright_text",
        "label": "Additional copyright text"
      },
      {
        "type": "link_list",
        "id": "policies_menu",
        "label": "Policies menu",
        "info": "This menu will only show top-level links"
      }
    ],
    "blocks": [
	   {
        "type": "footer_top_info",
        "name": "Footer Top Info",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          },
          {
            "type": "image_picker",
            "id": "logo-inverted",
            "label": "White logo",
            "info": "Used when on top of an image"
          },
          {
            "type": "range",
            "id": "desktop_logo_width",
            "label": "Desktop logo width",
            "default": 200,
            "min": 100,
            "max": 400,
            "step": 10,
            "unit": "px"
          },
          {
            "type": "range",
            "id": "mobile_logo_width",
            "label": "Mobile logo width",
            "default": 140,
            "min": 60,
            "max": 200,
            "step": 10,
            "unit": "px",
            "info": "Set as a max-width, may appear smaller"
          },
          {
            "type": "header",
            "content": "Social"
          },
          {
            "type": "checkbox",
            "id": "enable_social",
            "label": "Show social accounts",
            "default": true
          }
        ]
      },
	  {
        "type": "footer_bottom_info",
        "name": "Footer Bottom Info",
        "limit": 1,
        "settings": [
            {
              "type": "header",
              "content": "Menu"
            },
            {
              "type": "link_list",
              "id": "menu",
              "label": "Choose a menu",
              "default": "footer",
              "info": "This menu will only show footer bottom"
            },
            {
              "type": "header",
              "content": "Payments and localization"
            },
            {
              "type": "checkbox",
              "id": "show_payment_icons",
              "label": "Show payment icons",
              "default": true
            },
            {
              "type": "checkbox",
              "id": "show_locale_selector",
              "label": "Show language selector",
              "info": "To add a language, go to your [language settings.](/admin/settings/languages)",
              "default": true
            },
            {
              "type": "checkbox",
              "id": "show_currency_selector",
              "label": "Show currency selector",
              "info": "To add a currency, go to your [currency settings.](/admin/settings/payments)",
              "default": true
            }
        ]
      },
      {
        "type": "payment",
        "name": "Payments and localization",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_payment_icons",
            "label": "Show payment icons",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_locale_selector",
            "label": "Show language selector",
            "info": "To add a language, go to your [language settings.](/admin/settings/languages)",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_currency_selector",
            "label": "Show currency selector",
            "info": "To add a currency, go to your [currency settings.](/admin/settings/payments)",
            "default": true
          }
        ]
      },
      {
        "type": "menu",
        "name": "Navigation",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "info": "Defaults to menu title"
          },
		  {
            "type": "text",
            "id": "title_link",
            "label": "Title link"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Choose a menu",
            "default": "footer",
            "info": "This menu will only show top-level links"
          }
        ]
      },
      {
        "type": "contact",
        "name": "Contact us",
        "settings": [
          {
            "type": "header",
            "content": "Contact"
          },
          {
            "type": "text",
            "id": "heading_text",
            "label": "Heading text"
          },
          {
            "type": "text",
            "id": "heading_link",
            "label": "Heading link"
          },
          {
            "type": "text",
            "id": "phone",
            "label": "Phone number"
          },
          {
            "type": "text",
            "id": "email",
            "label": "Email"
          },
          {
            "type": "textarea",
            "id": "address_text",
            "label": "Address Text"
          },
          {
            "type": "text",
            "id": "address_link",
            "label": "Address Link"
          }
        ]
      }
    ],
    "default": {
      "settings": {},
      "blocks": [
        {
          "type": "menu",
          "settings": {}
        },
        {
          "type": "payment",
          "settings": {}
        }
      ]
    }
  }
{% endschema %}
