body, html {
	font-family: "Sofia Pro";
}

.__go-apecifications-js {
	font-size: 12px;
	font-weight: 300;
	text-decoration: underline;
	margin-bottom: 6px;
	cursor: pointer;
} 

.page-ss-heading {
	margin-bottom: 21px;

	&__heading-text {
		font-family: "Sofia Pro";
		font-weight: bold;
		font-size: 56px;

		@media(max-width: 768px) {
			font-size: 8vw;
		}
	}

	&__sub-heading-text {
		font-family: "Sofia Pro";
		font-size: 24px;
		color: #333333;
		width: 658px;
		max-width: 100%;
		margin: 0 auto;

		@media(max-width: 768px) {
			font-size: 3vw;
		}
	}
}

body.template--kitchen-sink-comparison {
	background: white;
}

.ss-content-center {

	&__inner {
		margin: 0 auto;
		max-width: calc(100% - 30px);
	}
}

.heading-text-block {

	&__text-center {
		text-align: center;
	}

	&__text {
		font-weight: bold;
		font-size: 40px;
		color: #333;
		font-family: 'Sofia Pro';

		@media(max-width: 562px) {
			font-size: 28px;
			margin-bottom: 32px !important;
		}
	}
}

.image-content-vertical-block {
	padding: 32px 0;

	&--bottom-line {
		border-bottom: solid 1px #DBE1E5;
	}

	&__inner {

	}

	&__image {
		margin-bottom: 32px;
		border-radius: 4px;
	}

	&__title {
		font-size: 20px;
		color: #333;
		font-family: 'Sofia Pro';
		margin-bottom: 16px;
		font-weight: bold;
	}

	&__desc {
		color: #333;
	}
}

.thickness-progress-bar-preview {

	&__inner {
		border-radius: 4px;
		padding: 48px 58px;

		@media(max-width: 672px) {
			padding: 28px 20px;
		}
	}

	&__item {
		
		&:not(:last-child) {
			margin-bottom: 32px;
		}

		&.__st-1 {
			transition-delay: .1s;

			.thickness-progress-bar-preview__item-bar {
				width: 300px;
				height: 12px;
				
				@media(max-width: 672px) { 
					width: 55%;
				}
			}

			.thickness-progress-bar-preview__item-bar-label {

				span:nth-child(1) {
					line-height: 34px;
					margin-right: 3px;
				}

				span:nth-child(2) {
					line-height: 20px;
				}

				@media(max-width: 672px) {
					
					span {
						font-size: 16px;
						line-height: 14px !important;
					}
				} 
			}
		}

		&.__st-2 {
			transition-delay: .2s;

			.thickness-progress-bar-preview__item-bar {
				width: 240px;
				height: 12px;

				@media(max-width: 672px) { 
					width: 45%;
				}
			}

			.thickness-progress-bar-preview__item-bar-label {
				span:nth-child(1) {
					line-height: 20px;
				}
			}
		}

		&.__st-3 {
			transition-delay: .3s;

			.thickness-progress-bar-preview__item-bar {
				width: 200px;
				height: 10px;

				@media(max-width: 672px) { 
					width: 38%;
				}
			}

			.thickness-progress-bar-preview__item-bar-label {
				span:nth-child(1) {
					line-height: 20px;
				}
			}
		}

		&.__st-4 {
			transition-delay: .4s;

			.thickness-progress-bar-preview__item-bar {
				width: 160px;
				height: 8px;

				@media(max-width: 672px) { 
					width: 32%;
				}
			}

			.thickness-progress-bar-preview__item-bar-label {
				span:nth-child(1) {
					line-height: 20px;
				}
			}
		}
	}

	&__item-bar-wrap {
		display: flex;
		align-items: flex-end;
		margin-bottom: 12px;
	}

	&__item-bar {
		margin-right: 11px;
		border-radius: 2px;
		background: #CDCDCD;
	}

	&__item-bar-inner {
		background: #006875;
		position: relative;
		width: 0%;
		height: 100%;
		border-radius: 4px;
		transition: .8s ease;
		-webkit-transition: .8s ease;
	}

	&__item-bar-label {
		display: flex;
		align-items: flex-end;
	}

	&__item-desc {
		color: #666;
	}

	.__accent-color {
		color: #006875;
	}

	.__fsize-large {
		font-size: 40px;
	}

	.__fsize-medium {
		font-size: 24px;
	}

	.__fbold {
		font-weight: bold;
	}

	&__do-aminate {

		.thickness-progress-bar-preview__item {
			opacity: 0;
			transition: .6s ease;
			transform: translateY(50px);

			&.__trigger-scroll-active {
				opacity: 1;
				transform: translateY(0px);
			}
		}
	}
}

.content-center-grid-container {
	overflow: hidden;

	&__inner {
		
	}

	.__grid {
		display: flex;
		flex-wrap: wrap;
		// margin: 0 -40px;
		margin: 0 calc(var(--grid-gap-horizontal) / 2 * -1);

		&.__grid-3-columns {

			> * {
				width: calc(100% / 3);

				@media(max-width: 595px) {
					width: calc(100% / 2);
				}

				@media(max-width: 375px) {
					width: calc(100% / 1);
				}
			}
		}

		&.__grid-4-columns {

			> * {
				width: calc(100% / 4);

				@media(max-width: 768px) {
					width: calc(100% / 3);
				}

				@media(max-width: 595px) {
					width: calc(100% / 2);
				}

				@media(max-width: 375px) {
					width: calc(100% / 1);
				}
			}
		}

		> * {
			box-sizing: border-box;
			// padding: 0 40px;
			padding: 0 calc(var(--grid-gap-horizontal) / 2);
			margin-bottom: var(--grid-gap-vertical);
		}
	}
}

.specs-item {

	&__inner {

	}

	&__label {
		font-weight: 300;
		color: #333;
	}

	&__desc {
		color: #333;
		font-weight: bold;
	}
}

.section-customers-speak {

	#shopify-block-f0b44f13-fa7d-4198-a82a-9cb0fc215ca2 {
		margin: 0 -50px;

		@media(max-width: 768px) {
			margin: 0;
		}
	}

	.jdgm-carousel__right-arrow, .jdgm-carousel__left-arrow {
		border-width: 1px;
    width: 15px;
    height: 15px;
	}

	.jdgm-carousel-wrapper {
		margin: 0;
    width: 100%;
    padding: 0;

		.jdgm-carousel-title {
			font-weight: bold;
			font-size: 40px;
			color: #333;
			font-family: 'Sofia Pro';
			margin-bottom: 8px;
		}

		.jdgm-carousel-number-of-reviews {
			font-size: 14px;
		}

		.jdgm-carousel-title-and-link {
			margin-bottom: 40px;
		}

		.jdgm-star {
			padding-right: 8px !important;

			&:last-child {
				padding-right: 0 !important;
			}
		}

		.jdgm-carousel-item {
			vertical-align: top;
			padding: 0 8px;

			> * {
				background: white;
				padding-left: 16px;
				padding-right: 16px;
				box-sizing: border-box;
				width: 100%;
				display: block;
				text-align: left;

				&:first-child {
					padding-top: 19px;
					border-radius: 4px 4px 0 0;
				}

				&:last-child {
					padding-bottom: 19px;
					border-radius: 0 0 4px 4px;
				}
			}

			.jdgm-carousel-item__reviewer-name-wrapper {
				margin: 0;
				padding-top: 13px;
				padding-bottom: 13px;
				display: flex;
				align-items: center;

				.jdgm-carousel-item__reviewer-name {
					margin-right: 8px;
					color: #646464;
					opacity: 1;
				}
			}

			.jdgm-carousel-item__product-title {

			}
			
			.jdgm-carousel-item__product,
			.jdgm-carousel-item__review {
				height: auto;
			}

			.jdgm-carousel-item__review-rating {
				font-size: 10px;
				margin-bottom: 13px;

				.jdgm-star {
					padding-right: 5px;
				}
			}

			.jdgm-carousel-item__review-title {
				font-size: 18px;
				margin-bottom: 13px;
			}

			.jdgm-carousel-item__review-body {
				font-size: 14px;
				font-weight: 300; 
			}

			.jdgm-carousel-item__product-image {
				margin-bottom: 18px;
			}

			.jdgm-carousel-item__product-title {
				font-size: 12px;
				color: #333333;
				padding: 8px;
				border-top: solid 1px #eceff0;
				font-weight: bold;
			}

			a.jdgm-carousel-item__product {
				position: relative;
				padding-top: 16px;

				> * {
					position: relative;
					z-index: 3;
				}

				&:after {
					content: "";
					z-index: 0;
					background: #F9F9F9;
					border: 1px solid #ECEFF0;
					position: absolute;
					width: calc(100% - 32px);
					height: calc(100% - 19px);
					left: 16px;
					top: 0;
				}
			}
		}
	}
}

.content-center-accordion-container {

	.accordion-item {
		border-bottom: 1px solid #CCD2D5;

		&__heading {
			display: flex;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;

			h4 {
				font-family: "Sofia Pro";
				font-size: 24px;
				font-weight: 600;
				margin: 16px 0;
				color: #333;

				@media(max-width: 425px) {
					font-size: 18px;
				}
			}

			.__arrow-icon {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 48px;
			}
		}

		&__content {
			margin: 24px 0;
			font-size: 20px;
			font-weight: 300;
			color: #333;
			display: none;

			@media(max-width: 425px) {
				font-size: 14px;
			}
		}
	}
}

.ss-content-center {
	
	@media(max-width: 672px) {
		padding: 40px 0 !important;
	}
}

.image-box-item {

	&__inner {
	
	}

	&__text {
		font-size: 16px;
		color: #5F5F5F;
		margin-top: 14px;
		letter-spacing: 0;
	}
}