body, html {
	font-family: "Sofia Pro";
}

.__go-apecifications-js {
	font-size: 12px;
	font-weight: 300;
	text-decoration: underline;
	margin-bottom: 6px;
	cursor: pointer;
} 

.page-ss-heading {
	margin-bottom: 21px;

	&__heading-text {
		font-family: "Sofia Pro";
		font-weight: bold;
		font-size: 56px;

		@media(max-width: 768px) {
			font-size: 8vw;
		}
	}

	&__sub-heading-text {
		font-family: "Sofia Pro";
		font-size: 24px;
		color: #333333;
		width: 658px;
		max-width: 100%;
		margin: 0 auto;

		@media(max-width: 768px) {
			font-size: 3vw;
		}
	}
}

body.template--kitchen-sink-comparison {
	background: white;
}

.ss-content-center {

	&__inner {
		margin: 0 auto;
	}
}